extends layout

block content
	h1(id="title") Welcome to Jade
	button(class="btn", data-action="bea").
		Be Awesome
	canvas(id="animation", resize="true")
	script(type="text/javascript", src="percolation_server.js", canvas="animation")