doctype html
html
	head
		title
		script(src='/percolation_server.js', type='text/javascript')
		link(rel='stylesheet', href='/stylesheets/style.css')


		// This lets me clear the interval to avoid duplicate runs on refresh"
		script.
			var interval = null;
	body
		#page-wrap
			.header
				#header-text
			form#inputs
				| Grid Size (N-by-N grid) : 
				input#gridSize(type='text', value='20')
				br
				|						 Speed : 
				input(type='radio', name='speed', value='instant')
				| Instant
				input(type='radio', name='speed', value='fast', checked='')
				| Fast
				input(type='radio', name='speed', value='slow')
				| Slow
				br
				// without type='button', the page refreshes on click, which doesn't work
				button#button(type='button', onclick='return simulatePercolation()') Run Simulation
			canvas#animation(width='600', height='600')
				| Percolation Visualization (include img)
			p#percolates
			br
