doctype html
html
	head
		title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/percolation_server.js')
		// This lets me clear the interval to avoid duplicate runs on refresh"
		script.
	body
		block content
