doctype html
html
	head
		title
		//script(src='/require.min.js', type='text/javascript')
		script(src='/jquery-2.1.4.min.js', type='text/javascript')
		script(src='/d3.min.js', type='text/javascript')
		script(src='/plotly.min.js', type='text/javascript')
		script(src='/d3.min.js', type='text/javascript')
		script(src='/pouchdb-4.0.1.min.js', type='text/javascript')
		script(src='/pouchdb-upsert.min.js', type='text/javascript')
		script(src='/stats.js', type='text/javascript')
		script(src='/percolation_server.js', type='text/javascript')
		link(rel='stylesheet', href='/stylesheets/style.css')


		// This lets me clear the interval to avoid duplicate runs on refresh"
		script.
			var interval = null;
	body
		div.column
		#page-wrap
			.header
				#header-text
			form#inputs
				| Grid Size (N-by-N grid) : 
				input#gridSize(type='text', value='20')
				br
				|						 Speed : 
				input(type='radio', name='speed', value='instant')
				| Instant
				input(type='radio', name='speed', value='fast', checked='')
				| Fast
				input(type='radio', name='speed', value='slow')
				| Slow
				br
				// without type='button', the page refreshes on click, which doesn't work
				button#button(type='button', onclick='return Percolate.simulatePercolation()') Run Simulation
			canvas#animation(width='600', height='600')
				//| Percolation //(include img)
			p#percolates
			br

		div id="tester" style="width:600px;height:250px;"
			script.
					TESTER = document.getElementById('tester');
					Plotly.plot( TESTER, [{
						x: [1, 2, 3, 4, 5],
						y: [1, 2, 4, 8, 16] }], {
						margin: { t: 0 } } 
					);
//mixin row(items)
//	tr
//		each item, index in items
//			td= item 
//
//mixin table(tableData)
//	table
//		each row, index in tableData
//			+row(row)
//- var node = [{name: "express"}, {name: "hapi"}, {name: "derby"}]
//+table(node)
//- var js = [{name: "backbone"}, {name: "angular"}, {name: "ember"}]
//+table(js)