doctype html
html
	head
		title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
			canvas(id="animation", resize="true")
			script(type="text/javascript", src="percolation_server.js", canvas="animation")